@using Building.Domain.DTO;
@using Building.Domain.Entity;
@using Building.Domain.Enum;
@model IEnumerable<Query>
<style>
    .block-vert-line2 {
        border-right: 2px solid #4272eb;
        padding-left: 10px;
    }
        input[type=date] {
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        
    }

    #searchbutton {
        position: relative;
        top: 3px;
        left: 0px;
    }
    #buttonDelete {
        position: absolute;
        top: 94px;
        left: 160px;
    }

    

</style>
<div>

        
   
    <div class="row">
     
        <div class="col-2 text-center ">
           
          

            &nbsp
            @*plus*@
            
            <button type="button" class="btn btn-outline-light" >
                <a asp-action="Create" asp-controller="Prorab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" color="green" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>

            </button>
            @*&nbsp*@
            <button type="button" class="btn btn-outline-light">
                @*update*@
                <a asp-action="Update" asp-controller="Prorab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" color="blue" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                    </svg>
                </a>
            </button>
        </div>
        <div class="col-10  ">
            <form asp-action="Main"  method="get">
                <div class="row">
                    
                    <div class=" col-10 form-outline ">
                        <input type="search" class="form-control form-control-lg" placeholder="Найти заявку" value="@ViewBag.Search" name="search"  aria-label="Найти" />
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-primary border border-primary  my-2 my-sm-0" id="searchbutton"  type="submit">Найти</button>
                    </div>
                    
                </div>
                
            </form>
        </div>
       @* <div class="row">
            <div class="col text-end">
                <label>с</label>
                &nbsp
                <input type="date">
            </div>
            <div class="col">
                <label>до </label>
                &nbsp
                <input type="date">
            </div>
        </div>*@
    </div>
    <hr/>
    <br/>
    <form asp-action="DeleteQuery" method="post" id="Delete">
    <div>
            <button type="submit" class="btn btn-outline-light" id="buttonDelete">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" color="red" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                </svg>
            </button>
             @if (Model.FirstOrDefault() != null)
            {
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col"><input type="checkbox" class="form-check-input" name="allcheck" id="selectAll"/></th>
                            <th class="text-center" scope="col">Заявка
                               @* <a class="text-black" asp-action="Main" asp-route-sortOrder="@ViewBag.NameSort">
                                    Заявка
                                    @if (ViewBag.NameSort == SortState.NameDesc)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                        </svg>
                                    }
                                    else
                                    {

                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                        </svg>
                                    }
                                </a>*@
                            </th>
                            <th class="text-center" scope="col">
                                <a class="text-black" asp-action="Main" asp-route-sortOrder="@ViewBag.DataSort">
                                    Дата создания
                                    @if (ViewBag.DataSort == SortState.DataDesc)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                        </svg>
                                    }
                                    else
                                    {

                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                        </svg>
                                    }
                                </a>
                            </th>
                            <th class="text-center" scope="col">Срок</th>
                            <th class="text-center" scope="col">Состояние</th>
                            <th class="text-center" scope="col">Снабженец</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="text-center">                        

                                <th class="text-center pt-5"><input type="checkbox"  class="form-check-input chkCheckBoxId" value="@item.QueryId" name="queryId" /></th>
                                <th class="text-center pt-5">
                                    @Html.ActionLink($"{@item.Name}", "QueryDetails", "Prorab", new { id = item.QueryId }, new
                                {
                                @class = "compItem" ,
                                    @* Needed to link to the html of the modal*@
                                data_target = "#modDialog",
                                    @* Tells the bootstrap javascript to do its thing*@
                                data_toggle = "modal"
                                })
                                </th>
                                <th class="text-center pt-5">@item.CreateDate</th>
                                <th class="text-center pt-5">@Convert.ToDateTime(item.Deadline).ToShortDateString()</th>

                                <th class="text-center pt-4">

                                    @if (item.State == "В работе")
                                    {
                                        <label>Завка создана</label>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width:5%"></div>
                                        </div>
                                    }
                                    @if (item.State == "Обработан")
                                    {
                                        <label class="text-center">Обработан</label>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width:50%"></div>
                                        </div>
                                    }
                                    @if (item.State == "Выполнен")
                                    {
                                        <label class="text-center">Выполнен</label>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:100%"></div>
                                        </div>
                                    }
                                    
                                </th>
                                @if (item.Snab == null)
                                {
                                    <th> </th>
                                }
                                @if (item.Snab != null)
                                {
                                    <th class="text-center pt-5">@item.Snab.SecondName @item.Snab.Name</th>
                                }


                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3 class="text-center">Нет созданных заявок</h3>
            }
        </div>
    </form>
        <div id="modDialog" class="modal" role="dialog">
            <div id="dialogContent" class="modal-dialog modal-lg"></div>
        </div>

</div>
@section Scripts{
@*<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>*@
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                    

                });
            });
        })
    </script>

    <script>
        $(document).ready(function(){
            $("#selectAll").click(function(){
                if($(this).is(":checked"))
                    $('.chkCheckBoxId').prop('checked',true);
                else
                    $('.chkCheckBoxId').prop('checked',false)
            });
        });
    </script>
    <script>
        let profileButton = document.querySelector('.profile');
        
    </script>

@*    <script>
        $(function () {
            $('#buttonDelete').click(function (e) {
                e.preventDefault();
                $('#confirmDialog').dialog('open')
            });
            $("#confirmDialog").dialog({
                autoOpen:false,
                modal:true,
                resizable:false,
                button:{
                    "Да":function(){
                        $('#Delete').submit();
                    },
                    "Нет":function(e){
                        $(this).dialog("close");
                    }
                },
            });
        });
    </script>*@

}
